/*Nav*/
.bg-navbar {
  background-color: #847266;
}

.nav-link {
  color: #f5f0e5;
  font-family: "Poppins";
}

.nav-link:hover {
  color: #fef9f9;
}

.collapse {
  justify-content: right;
}

.mid-links {
  padding-left: 20px;
}

/*Search*/
.form-control {
  font-family: "Poppins";
  font-size: 12px;
  width: 165px;
}

.btn-search {
  color: #261e1d;
  border-color: #261e1d;
  transition: 0.5s;
}

.btn-search:hover {
  color: #f5f0e5;
  border-color: #f5f0e5;
}

.search-margin {
  margin-right: 20px;
}


.cart-icon {
  display: flex;
  align-items: center;
  margin-right: 50px;
  cursor: pointer;
}

.alternativeIcon {
  position: absolute;
  font-size: 9px;
  color: #f5f0e5;
  top: 12px;
  right: calc(260px / 2);
  font-weight: 600;
  border: 1px solid #f5f0e5;
  border-radius: 600px;
  padding: 1px 6px;
}

.alterativePosition  {
    position: absolute;
  font-size: 9px;
  color: #f5f0e5;
  top: 12px;
  right: calc(100px * 3 - 40px);
  font-weight: 600;
  border: 1px solid #f5f0e5;
  border-radius: 600px;
  padding: 1px 6px;
}

.bi-cart {
  font-size: 25px;
  color: #f5f0e5;
}

