<nav class="navbar navbar-expand-lg bg-navbar">
    <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active"><img
                    src="assets/img/logoholyjoy.png" alt="Logo Holy Joy" style="width: 140px;height: auto;" /></a>
            <div class="mid-links">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/produtos']">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/feedback">Feedback</a>
                    </li>
                </ul>
            </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex search-margin" role="search">
                <input class="form-control me-2" type="search" placeholder="O que você procura?" aria-label="Search">
                <button class="btn btn-search" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-search-heart-fill" viewBox="0 0 16 16">
                        <path
                            d="M6.5 13a6.474 6.474 0 0 0 3.845-1.258h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.008 1.008 0 0 0-.115-.1A6.471 6.471 0 0 0 13 6.5 6.502 6.502 0 0 0 6.5 0a6.5 6.5 0 1 0 0 13Zm0-8.518c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z" />
                    </svg></button>
            </form>
            <div class="cart-icon" [routerLink]="['/carrinho']">
              <span class="text-cart">{{carrinhoService.totalItensCarrinho()}}</span>
              <span class="bi bi-cart"></span>
            </div>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg> {{usuario}}</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0" id="ulCadastro">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/cadastro']" routerLinkActive="router-link-active"><i
                    class="bi bi-person-plus-fill"> Cadastre-se</i></a>
            </ul>
        </div>
    </div>
</nav>
