<div class="bg-home">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Banner Desconto">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Banner Novidades">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Banner Acessórios">
            </div>
        </ng-template>
    </ngb-carousel>
    <br>
    <div class="bg-produtos">
        <div class="mx-1">
            <div class="container">
                <div class="shopnow">
                    <a href="/produtos" class="nav-link">SHOP NOW</a>
                </div>
                <div class="row">
                    <div class="col" *ngFor="let produto of produtos | slice:0:8">
                        <app-produto [dadoProduto]="produto" (onCarrinho)="addCarrinho($event)">
                            <p *ngIf="produtoNoCarrinho(produto)" class="text-muted">
                                *Produto no carrinho
                            </p>
                        </app-produto>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container banner-grid">
        <div class="row">
            <div class="col">
                <img src="assets/img/b1.png" alt="B">
            </div>
            <div class="col">
                <img src="assets/img/b2.png" alt="B">
            </div>
            <div class="col">
                <img src="assets/img/b3.png" alt="B">
            </div>
        </div>
    </div>
</div>